<div class="admin__panel row">
    <div class="panel__left col l-8 m-7 c-12 flex-column g60">
        <section class="admin__section">
            <h4 class="display-small fw-bold ttc">Dashboard</h4>
            <div class="statis__boxes mt30 row">
                <div class="statis__box statis__box--sales col l-4 m-6 c-12 oh">
                    <div class="statis__box__inner text-white flex-between p20 rounded-16">
                        <div class="flex-column flex-center flex-between">
                            <div class="icon">
                                <svg width="60" height="60" viewBox="0 0 60 60" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M30 42.5V43.75V45" stroke="white" stroke-width="3.75"
                                        stroke-linecap="round" />
                                    <path d="M30 15V16.25V17.5" stroke="white" stroke-width="3.75"
                                        stroke-linecap="round" />
                                    <path
                                        d="M37.5 23.75C37.5 20.2982 34.1423 17.5 30 17.5C25.8577 17.5 22.5 20.2982 22.5 23.75C22.5 27.2018 25.8577 30 30 30C34.1423 30 37.5 32.7983 37.5 36.25C37.5 39.7018 34.1423 42.5 30 42.5C25.8577 42.5 22.5 39.7018 22.5 36.25"
                                        stroke="white" stroke-width="6" stroke-linecap="round" />
                                    <path
                                        d="M17.5 8.34455C21.1772 6.21743 25.4465 5 30 5C43.807 5 55 16.1929 55 30C55 43.807 43.807 55 30 55C16.1929 55 5 43.807 5 30C5 25.4465 6.21743 21.1772 8.34455 17.5"
                                        stroke="white" stroke-width="6" stroke-linecap="round" />
                                </svg>
                            </div>
                            <h4 class="title-medium fw-exbold">Sales</h4>
                        </div>
                        <div class="flex-column flex-between a-end">
                            <p class="body-medium fw-light">70%</p>
                            <h2 class="title-large fw-bold">$23.395</h2>
                            <p class="body-small fw-light">Last 2 hours</p>
                        </div>
                    </div>
                </div>
                <div class="statis__box statis__box--revenue col l-4 m-6 c-12 oh rounded-16">
                    <div class="statis__box__inner text-white flex-between p20 rounded-16">
                        <div class="flex-column flex-center flex-between">
                            <div class="icon">
                                <svg width="60" height="60" viewBox="0 0 60 60" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M30 42.5V43.75V45" stroke="white" stroke-width="3.75"
                                        stroke-linecap="round" />
                                    <path d="M30 15V16.25V17.5" stroke="white" stroke-width="3.75"
                                        stroke-linecap="round" />
                                    <path
                                        d="M37.5 23.75C37.5 20.2982 34.1423 17.5 30 17.5C25.8577 17.5 22.5 20.2982 22.5 23.75C22.5 27.2018 25.8577 30 30 30C34.1423 30 37.5 32.7983 37.5 36.25C37.5 39.7018 34.1423 42.5 30 42.5C25.8577 42.5 22.5 39.7018 22.5 36.25"
                                        stroke="white" stroke-width="6" stroke-linecap="round" />
                                    <path
                                        d="M17.5 8.34455C21.1772 6.21743 25.4465 5 30 5C43.807 5 55 16.1929 55 30C55 43.807 43.807 55 30 55C16.1929 55 5 43.807 5 30C5 25.4465 6.21743 21.1772 8.34455 17.5"
                                        stroke="white" stroke-width="6" stroke-linecap="round" />
                                </svg>
                            </div>
                            <h4 class="title-medium fw-exbold">Sales</h4>
                        </div>
                        <div class="flex-column flex-between a-end">
                            <p class="body-medium fw-light">70%</p>
                            <h2 class="title-large fw-bold">$23.395</h2>
                            <p class="body-small fw-light">Last 2 hours</p>
                        </div>
                    </div>
                </div>
                <div class="statis__box statis__box--expenses col l-4 m-6 c-12 oh rounded-16">
                    <div class="statis__box__inner text-white flex-between p20 rounded-16">
                        <div class="flex-column flex-center flex-between">
                            <div class="icon">
                                <svg width="60" height="60" viewBox="0 0 60 60" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M30 42.5V43.75V45" stroke="white" stroke-width="3.75"
                                        stroke-linecap="round" />
                                    <path d="M30 15V16.25V17.5" stroke="white" stroke-width="3.75"
                                        stroke-linecap="round" />
                                    <path
                                        d="M37.5 23.75C37.5 20.2982 34.1423 17.5 30 17.5C25.8577 17.5 22.5 20.2982 22.5 23.75C22.5 27.2018 25.8577 30 30 30C34.1423 30 37.5 32.7983 37.5 36.25C37.5 39.7018 34.1423 42.5 30 42.5C25.8577 42.5 22.5 39.7018 22.5 36.25"
                                        stroke="white" stroke-width="6" stroke-linecap="round" />
                                    <path
                                        d="M17.5 8.34455C21.1772 6.21743 25.4465 5 30 5C43.807 5 55 16.1929 55 30C55 43.807 43.807 55 30 55C16.1929 55 5 43.807 5 30C5 25.4465 6.21743 21.1772 8.34455 17.5"
                                        stroke="white" stroke-width="6" stroke-linecap="round" />
                                </svg>
                            </div>
                            <h4 class="title-medium fw-exbold">Sales</h4>
                        </div>
                        <div class="flex-column flex-between a-end">
                            <p class="body-medium fw-light">70%</p>
                            <h2 class="title-large fw-bold">$23.395</h2>
                            <p class="body-small fw-light">Last 2 hours</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="admin__section">
            <h4 class="display-small fw-bold ttc mb30">Recent Orders</h4>
            <table class="recent-order__table table">
                <tbody>
                    <tr>
                        <th>Tracking ID</th>
                        <th>Product</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>

                    {{#each bills}}
                        <!-- single product start -->
                        <tr>
                            <td>#{{this._id}}</td>
                            <td>{{this.products.length}}</td>
                            <td>{{ this.date }}</td>
                            <td>
                                <span class="status status--processing">{{this.status}}</span>
                            </td>
                            <td>
                                <a href="/admin/orders/detail/{{this._id}}" class="btn primary-text-btn detail-btn">Detail</a>
                            </td>
                        </tr>
                        <!-- single product end -->
                    {{/each}}
                </tbody>
            </table>
        </section>
    </div>
    <div class="panel__right col l-4 m-5 c-12 flex-column g60">
        <div class="admin__section">
            <h4 class="display-small fw-bold ttc mb30">Recent Orders</h4>
            <div class="update__box oh rounded-8 bg-white">
                <div class="update__item p20 flex g20 v-center">
                    <div class="update__item__avt banner-cover rounded-100"
                        style="background-image: url(/src/assets/image/user-demo.png)"></div>
                    <div class="update__info flex-column flex-between">
                        <p class="body-medium">
                            <span class="fw-bold">Adrew Thomas</span> has ordered a coffee bag lorem ipsum dolor sit
                            amet consectetur adipisicing elit
                        </p>
                        <div class="neutral-text70 label-small update-time">2 hours ago</div>
                    </div>
                </div>
                <div class="update__item p20 flex g20 v-center">
                    <div class="update__item__avt banner-cover rounded-100"
                        style="background-image: url(/src/assets/image/user-demo.png)"></div>
                    <div class="update__info flex-column flex-between">
                        <p class="body-medium">
                            <span class="fw-bold">Adrew Thomas</span> has ordered a coffee bag lorem ipsum dolor sit
                            amet consectetur adipisicing elit
                        </p>
                        <div class="neutral-text70 label-small update-time">2 hours ago</div>
                    </div>
                </div>
                <div class="update__item p20 flex g20 v-center">
                    <div class="update__item__avt banner-cover rounded-100"
                        style="background-image: url(/src/assets/image/user-demo.png)"></div>
                    <div class="update__info flex-column flex-between">
                        <p class="body-medium">
                            <span class="fw-bold">Adrew Thomas</span> has ordered a coffee bag lorem ipsum dolor sit
                            amet consectetur adipisicing elit
                        </p>
                        <div class="neutral-text70 label-small update-time">2 hours ago</div>
                    </div>
                </div>
                <div class="update__item p20 flex g20 v-center">
                    <div class="update__item__avt banner-cover rounded-100"
                        style="background-image: url(/src/assets/image/user-demo.png)"></div>
                    <div class="update__info flex-column flex-between">
                        <p class="body-medium">
                            <span class="fw-bold">Adrew Thomas</span> has ordered a coffee bag lorem ipsum dolor sit
                            amet consectetur adipisicing elit
                        </p>
                        <div class="neutral-text70 label-small update-time">2 hours ago</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="admin__section">
            <h4 class="display-small fw-bold ttc mb30">Customer Review</h4>
            <canvas id="customer-review-char"></canvas>
        </div>
    </div>
</div>

<script type="module" src="/js/adminDashboard.js"></script>