<div class="admin__panel">
    <div class="admin__title flex-between v-center">
        <h4 class="display-small fw-bold ttc">Products</h4>
        <div class="flex g20">
            <form action="" class="form form--search glass">
                <div class="form__group form__group--collapse flex v-center">
                    <input type="text" class="form__input form__input--search form__input--transparent"
                        placeholder="Search for products">
                    <!-- <button class="icon-btn search__btn">
                                        <i class="fal fa-search"></i>
                                    </button> -->
                </div>
            </form>
            <a href="/admin/products/create"
                class="add-product-btn glass rounded-8 flex-center tooltips-btn--open por"
                style="height: 45px; width: 45px; border-radius: 100%;">
                <i class="fal fa-plus"></i>
                <div class="tooltips tooltips--left">Add new product</div>
            </a>
        </div>
    </div>

    <main class="admin__panel__main admin__product__panel row mt30">
        <!-- single product start -->
        {{#each products}} 
            <div class="admin__product col l-4 m-6 c-12 por">
                <a href="/admin/products/{{this._id}}" class="abs-full"></a>
                <div class="admin__product__inner glass rounded-8 oh p20 flex-column g12">
                    <div class="flex">
                        <div class="admin__product__image por">
                            <div class="abs-full banner-cover"
                                style="background-image: url('/uploads/{{this.background.main}}');">
                            </div>
                        </div>
                        <div class="admin__product__info flex-full flex-column flex-between g20">
                            <h4 class="admin__product__name text body-large fw-smb ttc">{{this.title}}</h4>
                            <div class="flex-between">
                                <div class="admin__product__price flex g20 v-center">
                                    <span class="admin__product__price__old text body-large fw-medium flex g30 v-center">
                                        {{#if this.salePrice}}
                                            <del>${{this.price}}</del>
                                            <p class="body-medium fw-smb">${{this.salePrice}}</p>
                                        {{else}}
                                            <p class="body-medium fw-smb">${{this.price}}</p>
                                        {{/if}}
                                    </span>
                                </div>
                                <div class="admin__product__action flex-between v-center">
                                    <button class="icon-btn edit__btn">
                                        <i class="fal fa-edit"></i>
                                    </button>
                                    <button class="icon-btn delete__btn por z-index10" data-id="{{this._id}}">
                                        <i class="fal fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="admin__product__info">
                        <div class="body-large fw-smb">
                            Category:
                            <span class="text fw-normal product__category__name neutral-text60 ttc">{{this.idCategory.name}}</span>
                        </div>
                    </div>
                    <div class="admin__product__info">
                        <div class="body-large fw-smb">
                            Description:
                            <p class="text fw-normal product__category__name neutral-text60 ">
                                {{#each this.description}}
                                    {{this}}
                                {{/each}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
        <!-- single product end -->
    </main>
</div>

<script type="module" src="/js/adminProducts.js"></script>